@page "/customers"
@using ikl.web.Shared
@inject HttpClient Http

<h1>Kunder gennem årene</h1>

@if (customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Names</th>
                <th>Årstal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in customers)
            {
                <tr>
                    <td>@string.Join(",", customer.Names)</td>
                    <td>@customer.Year</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Customer[] customers;

    protected override async Task OnInitializedAsync()
    {
        customers = await Http.GetFromJsonAsync<Customer[]>("Customers");
    }

}
