@page "/drawings"
@using ikl.web.Shared
@inject DataService DataService
@inject NavigationManager NavManager

@if (Customer != null)
{
    <MatH2>@Customer.Names[0]</MatH2>
}
<div class="cards">
    @foreach (var drawing in _drawings)
    {
        <DrawingCard Drawing="drawing"/>
    }
</div>

<style>
.cards {
 
display: grid;
 
grid-template-columns: repeat(3, 1fr);
 
grid-auto-rows: auto;
 
grid-gap: 1rem;
 
}



</style>

    @code{

        public Customer Customer { get; set; }
        private IList<Drawing> _drawings = new List<Drawing>();

        protected override async Task OnInitializedAsync()
        {
            await base.OnInitializedAsync();
            var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
            NavManager.LocationChanged += NavManagerOnLocationChanged;
            Update(uri.Query);
        }

        
        private void NavManagerOnLocationChanged(object sender, LocationChangedEventArgs e)
        {
            Update(e.Location);
        }

        private void Update(string query)
        {
            var querySplit = query.Split("=");
            
            if (query.Contains("customerId"))
            {
                var customerId = querySplit.Last();
                Customer = DataService.GetCustomer(customerId);
                _drawings = DataService.GetDrawings(customerId);
            } else if (query.Contains("text"))
            {
                var text = querySplit.Last();
                _drawings = DataService.SearchDrawings(text);
            }   
            StateHasChanged();
        }
    }
