@page "/"
@using ikl.web.Shared
@using ikl.web.Client.Pages;

@inject DataService DataService

<h1>Velkommen</h1>

<img src="https://media.fds.fi/designer/300/ib-kofod-larsen_designer.jpg">

<p>
    Ib Kofod-Larsen (1921-2003) var en af pionererne for det danske moderne i 1950'erne.
    Kofod-Larsen modtog sin arkitektgrad fra Det Kongelige Danske Akademi, og han arbejdede også som designer -
    et af hans mest kendte værker er strikkestolen fra 1951.
    I stedet for et regionalt fænomen så Kofod-Larsen skandinavisk design som en del af international modernisme,
    og han blev en af de bedst sælgende danske arkitekter i USA i 1950'erne. Han samarbejdede også med mange møbelproducenter
    i USA, Europa og Japan.

</p>

@code{
    
}
