@page "/customers"

@using ikl_web.Data
@inject CustomerService CustomerService

<h1>Ib Kofod Larsen - Kunder igennem tiden</h1>

@if (_customers == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Names</th>
            <th>Year</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var customer in _customers)
        {
            <tr>
                <td>@string.Join(",", customer.Names)</td>
                <td>@customer.Year</td>
                
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private ICollection<Customer> _customers;

    protected override async Task OnInitializedAsync()
    {
        _customers = await CustomerService.GetCustomers();
    }

}